modLoader="javafml"
loaderVersion="${loader_version_range}"
license="ftptp"

[[mods]]

modId="keple"
version="0.1"
displayName="Keple"
#logoFile="examplemod.png"
authors="byme4u"
description='''holemole'''

[[dependencies.${mod_id}]]

    modId="forge"
    mandatory=true
    versionRange="${forge_version_range}"
    ordering="NONE"
    side="BOTH"

[[dependencies.${mod_id}]]

    modId="minecraft"
    mandatory=true
    versionRange="${minecraft_version_range}"
    ordering="NONE"
    side="BOTH"
